@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fffdfe;
}

hr {
  width: 30%;
  margin: auto;
  border-top: 1px solid #004380;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  font-size: 2em;
  font-weight: 300;
  text-decoration: none;
  color: rgb(163, 160, 160);
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li strong {
  font-size: 2em;
}

nav .fas {
  font-size: 1.5em;
}

p {
  color: #fff;
}

.container {
  width: 100%;
  position: fixed;
  background: whitesmoke;
  margin: 0;
  top: -1px;
  z-index: 22;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 250px;
}

.col-2 img {
  margin-top: 30px;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}

.down {
  display: none;
}

.col-2 h1 {
  font-size: 5em;
  line-height: 1em;
  margin: 25px 100px;
  color: #004380;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.col-2 p {
  color: #004380;
  padding: 0 10px;
  text-align: right;
  font-size: 1em;
}

.btn-cart {
  font-weight: 300;
  display: block;
  float: right;
  background: #004380;
  color: #fff;
  outline: none;
  padding: 8px 30px;
  margin: 0 5px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(6px);
}

.btn-cart:hover {
  background-color: #004380;
  transition: 0.3s;
}

.btn-cart:active {
  background-color: #004380;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(6px);
}

.btn-home {
  font-weight: 500;
  display: inline-block;
  background: #004380;
  color: #fff;
  outline: none;
  padding: 8px 30px;
  margin: 30px 100px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-home:hover {
  background-color: #004380;
  transition: 0.3s;
}

.btn-home:active {
  background-color: #004380;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(4px);
}

.header {
  padding-bottom: 34px;
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.subtitle {
  text-align: right;
  margin-bottom: 150px;
  position: relative;
}

select {
  margin-bottom: 50px;
  font-size: 2.5em;
  color: #fff;
  background-color: #004380;
  border: 0.1px solid #004380;
}

select:focus {
  outline: none;
}

.col-3 {
  flex-basis: 30%;
  min-width: 200px;
  margin-bottom: 10px;
}

.col-3 p {
  background: #004380;
  font-size: 2em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid #004380;
  border-radius: 3px;
}

.col-3 img {
  width: 100%;
  border-radius: 10px;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.col-3 img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.small-container {
  max-width: 100%;
  margin: auto;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-4 img {
  width: 90%;
  border-radius: 10px;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row,
.col-4 p {
  font-size: 1em;
  text-align: center;
}

.title {
  color: #004380;
  text-align: center;
  margin: 50px auto 80px;
  position: relative;
  font-size: 3em;
}

.title:after {
  content: "";
  background: #004380;
  width: 150px;
  height: 9px;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.categories {
  margin: 0;
  margin-top: 50px;
}

.small-container {
  flex-basis: 25%;
}

h4 {
  text-align: center;
  font-size: 3em;
  color: #004380;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.col-4 p {
  font-size: 2em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: #004380;
  border: 1px solid #004380;
  border-radius: 3px;
}

.rating {
  text-align: center;
  margin-bottom: 5px;
  color: #004380;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.col-4 img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.offers img {
  margin-left: 100px;
  width: 550px;
}

.offers .great {
  margin: 0;
  padding: 0;
}

.offers {
  margin-top: 50px;
  padding: 30px 0;
}
.col-2 .offers-img {
  padding: 50px;
}

.col-2 .discount {
  font-size: 2em;
  text-align: left;
  color: #004380;
}

.testimonials .col-3 img {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials {
  padding-top: 10px;
}

.testimonials .col-3 {
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s;
}

.testimonials .col-3:hover {
  transform: translateY(-10px);
}

.testimonials .col-3 h3 {
  margin: 10px 0;
  color: #004380;
}

.fa-quote-left {
  font-size: 2em;
  color: #004380;
}
.testimonials .col-3 p {
  font-size: 1em;
  font-weight: 300;
  padding: 10px 0;
  color: #fff;
}

/* -------- Brands ---------- */
.brands {
  margin: 50px auto;
  background: #fff;
}

.col-5 {
  width: 150px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.5s;
}

.col-5 img:hover {
  filter: none;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
/* Footer */

.footer {
  background: whitesmoke;
  font-size: 1em;
  color: #004380;
  padding-top: 20px;
}

.footer p {
  color: #004380;
}

.footer h3 {
  color: #004380;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 220px;
  margin-bottom: 20px;
}

.footer {
  font-size: 1.2em;
}

.footer-col-1 {
  flex-basis: 25%;
  font-weight: 100;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 220px;
  margin-bottom: 20px;
}

.footer-col-2 {
  text-align: left;
  font-weight: 100;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

.footer-col-3,
.footer-col-4 li {
  font-weight: 100;
}

.app-logo {
  margin-top: 20;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  width: 100%;
  color: #fff;
  border-top: 0px;
  margin: 10px 0;
}

.copyright {
  text-align: center;
  font-weight: 100;
}

.menu-icon {
  width: 50px;
  margin-left: 15px;
  display: none;
}

.col-3 .fas {
  font-size: 1.5em;
  color: #004380;
}

.col-3 .far {
  font-size: 1.5em;
  color: #004380;
}

.btn .fa-shopping-cart {
  color: #004380;
}

.small {
  color: #0a8084;
  text-align: left;
  font-size: 1.5em;
}

.btn-down {
  font-weight: 300;
  display: inline-block;
  background: #004380;
  color: #fff;
  padding: 8px 10px;
  margin: 30px 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.small-container h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 5em;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* --------------------Product Details Page Max Pixels ------------------ */

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}
.single-product {
  margin: 20px 20px;
  border: 1px solid #054749;
  border-radius: 10px;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product .col-2 h4 {
  margin: 20px 0;
  font-size: 4em;
  font-weight: 700;
  text-align: right;
}

.col-2 h1 {
  text-align: left;
}

.single-product h3 {
  font-size: 2em;
  font-weight: 100;
  color: #004380;
}
.single-product select {
  display: block;
  font-size: 2.5em;
  color: #fff;
  background-color: #004380;
  border: 0.1px solid #004380;
}

.single-product .btn-home {
  margin: 25px 10px;
}

.col-2 p {
  font-size: 1.5em;
  color: #004380;
  margin: 0;
  padding: 0;
  text-align: left;
}

.yellow {
  background-color: #fdca0d;
}

.single-product input {
  width: 60px;
  height: 40px;
  font-size: 1em;
  border: 1px solid #cd2a09;
  text-align: center;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.fa-shopping-cart {
  font-size: 48px;
}

.fa-home strong {
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fa-heart,
.fa-eye {
  font-size: 1.5em;
  padding: 0 20px;
  color: #004380;
}

/* --------------------End Product Details Page Max Pixels ------------------ */

/* <!-- Cart Items Details --> */

.cart-page {
  margin-top: 50px;
}

.cart-info {
  margin-top: 0px;
  background-color: #fffdfe;
}

table {
  font-size: 1.2em;
  color: #004380;
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.cart-info p {
  color: #004380;
}

th {
  text-align: left;
  color: #fff;
  padding: 5px;
  background: #004380;
  font-weight: 300;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #004380;
  font-size: 1em;
  font-weight: 700;
}

td img {
  width: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 1px solid #004380;
  width: 100%;
  max-width: 835px;
  font-size: 2em;
  color: #cd2a09;
  font-weight: 100;
  border-bottom: 1px solid #004380;
}

td:last-child {
  text-align: right;
  font-weight: 700;
}

th:last-child {
  text-align: right;
}

/* <!-- End Cart Items Details --> */

/* ------------ Account Page --------------- */
.account-page {
  padding: 50px 0;
  background: url(../img/down1.webp) left;
  padding: 80px 0;
  background-repeat: no-repeat;
}

.form-container {
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  z-index: 3;
}

.form-container span {
  font-weight: 700;
  padding: 0 10px;
  color: #054749;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
  margin: 0;
  padding: 20px 0;
  font-size: 1em;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #054749;
}

form .btn2 {
  width: 100%;
  font-size: 1.5em;
  color: #fff;
  background-color: #004380;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 0;
  border-radius: 80px;
}

form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -300px;
}

#RegForm {
  left: 0;
}

form a {
  font-size: 0.8em;
}

#indicator {
  width: 100px;
  border: none;
  background-color: #cd2a09;
  height: 5px;
  margin-top: 7px;
  transform: translateX(100px);
  transition: 1s;
}

.text {
  display: flex;
  flex: 50%;
  padding: 10px 20px;
}

.text img {
  padding: 0 20px;
}

/* ------------ End Account Page --------------- */

/* ---------------------- Media Query for Menu ----------------- */
/* ---------------- Media Query for Menu ------------------------ */
/* ---------------------- Media Query for Menu ------------------ */
/* ------------------------- Media Query for Menu -------------------- */
/* ---------------------------- Media Query for Menu --------------------- */

@media screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 120px;
    left: 0;
    background: #004380;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;

    transition: max-height 0.5s;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fffdfe;
  }
  .dropdown:hover .dropdown-child {
    position: relative;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .fa-caret-square-down,
  .fa-shopping-cart {
    font-size: 48px;
  }

  .col-4 {
    flex-basis: 50%;
  }

  .col-3 .fas {
    font-size: 1em;
    color: #004380;
  }

  .col-3 .far {
    font-size: 1em;
    color: #004380;
  }
  .col-4 .fas {
    font-size: 1.4em;
    color: #004380;
  }

  .col-3 .btn {
    margin-left: 20px;
  }

  .col-4 .far {
    font-size: 1.5em;
  }

  .col-2 h1 {
    font-size: 4em;
    line-height: 1em;
    color: #004380;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .col-2 p {
    color: #004380;
  }

  .btn-home {
    font-weight: 500;
    display: inline-block;
    background: #004380;
    color: #fff;
    padding: 8px 10px;
    margin: 30px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .far {
    font-size: 1.5em;
    color: #0a8084;
  }

  .row,
  .col-4 p {
    flex-basis: 100%;
  }
  .col-2 .offers-img {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .col-2 h1 {
    text-align: center;
    font-size: 3em;
    column-span: 2;
    color: #004380;
  }

  .col-2 .discount {
    font-size: 1em;
    margin: 0;
    color: #0a8084;
  }

  .btn-down {
    font-weight: 500;
    display: inline-block;
    background: #004380;
    color: #fff;
    padding: 8px 10px;
    margin: 30px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .small-container {
    flex-basis: 100%;
    padding: 0;
    margin: 0;
  }
  .col-5 {
    flex-basis: 10%;
    padding: 0;
  }
  .footer {
    flex-basis: 33%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    align-items: center;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 30%;
    margin-top: 120px;
  }
  .footer-col-2 {
    flex-basis: 30%;
  }
  .footer-col-1 {
    display: none;
  }
  select {
    margin-left: 280px;
    font-size: 1.5em;
    color: #fff;
    background-color: #004380;
    border: 0.1px solid #004380;
  }
  .small {
    color: #0a8084;
    font-size: 1.5em;
  }

  select {
    margin: 0;
  }
}
/* --------------------Media Qwery for Mobile Phone ---------------------- */
/* --------------------Media Qwery for Mobile Phone ---------------------- */
/* --------------------Media Qwery for Mobile Phone ---------------------- */
/* --------------------Media Qwery for Mobile Phone ---------------------- */
/* --------------------Media Qwery for Mobile Phone ---------------------- */
/* --------------------Media Qwery for Mobile Phone ---------------------- */
@media screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .col-4 .btn {
    margin: 0;
    margin: 5px;
  }
  .btn {
    padding: 0;
    display: none;
  }
  .col-2 h1 {
    font-size: 2.5em;
    margin: 5px auto;
    color: #004380;
  }
  .col-2 p {
    color: #004380;
    padding: 0 10px;
    text-align: justify;
    font-size: 1em;
  }
  .navbar {
    width: 100%;
    padding: 5px;
    background: white;
    position: fixed;
  }
  .navbar img {
    width: 180px;
  }
  nav ul {
    top: 80px;
    overflow: hidden;
  }
  .title {
    font-size: 2em;
    top: -30px;
    margin: 0 40px;
  }
  .col-2 h1 {
    color: #004380;
  }
  .col-2 p {
    color: #004380;
    text-align: center;
  }

  .small-container {
    margin-top: 80px;
  }

  .small {
    color: #004380;
    text-align: left;
    font-size: 1.5em;
  }

  .btn-down {
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-left: 120px;
    width: 160px;
  }
  hr {
    width: 60%;
  }
  .col-2 {
    flex-basis: 100%;
  }

  .testimonials .col-3 {
    padding: 10px 30px;
  }

  .testimonials .col-3 p {
    color: #fff;
    text-align: center;
    padding: 0;
  }

  .footer-col-3,
  .footer-col-4 {
    flex-basis: 100%;
    padding: 20px 0;
    margin: 25px auto;
  }
  .footer-col-1 {
    display: initial;
    flex-basis: 100%;
  }

  .footer-col-2 {
    flex-basis: 100%;
  }

  .footer-col-2 p {
    padding-left: 20px;
    padding-right: 10px;
  }

  .footer-col-2 img {
    margin-left: 40px;
    align-items: center;
    width: 250px;
  }
  .footer h3 {
    color: #004380;
  }
  .copyright {
    font-size: 1em;
    font-weight: bold;
    color: #004380;
  }
  .footer p {
    margin-left: 10px;
  }

  .title h2 {
    font-size: 1.7em;
  }
  .col-4 img {
    width: 95%;
  }
  .col-3 img {
    width: 90%;
  }
  .offers .great {
    margin: 5px 50px;
  }

  select {
    margin-left: 140px;
    font-size: 1.5em;
  }
  .women {
    margin-left: 90px;
    background-color: #004380;
    color: #fff;
    border: 0.1px solid #004380;
  }

  .car {
    margin-left: 130px;
  }

  .house {
    margin-left: 130px;
  }

  .men {
    margin-left: 130px;
  }

  .col-4 h4 {
    color: #004380;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
  }
  .small-container h1 {
    text-align: left;
    padding-bottom: 45px;
    font-size: 3em;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .menu-icon {
    font-size: 2em;
  }

  .navbar .fa-shopping-cart,
  .fa-caret-square-down {
    font-size: 48px;
  }

  .container {
    background: whitesmoke;
    margin: auto;
    padding-bottom: 10px;
  }
  nav ul {
    height: 90vh;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 5px 0;
  }
  .single-product {
    margin-top: 5px;
  }

  .single-product .col-2 img {
    width: 100%;
    padding: 0 10px;
  }
  .single-product {
    border: none;
  }

  .single-product h1 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 0;
  }

  .single-product .col-2 {
    padding: 0 10px;
  }

  .single-product .col-2 h4 {
    /* margin: 20px 0; */
    font-size: 3em;
    font-weight: 700;
    text-align: right;
  }

  .col-2 h1 {
    text-align: center;
  }

  .single-product h3 {
    font-size: 1em;
    font-weight: 300;
    color: #004380;
  }
  .single-product select {
    margin-left: 0px;
    display: block;
    font-size: 1.5em;
    color: #fff;
    background-color: #004380;
    border: 0.1px solid #004380;
  }

  .single-product .btn-home {
    width: 200px;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    margin: 10px 40px;
    padding: 10px 10px;
  }

  .single-product input {
    width: 60px;
    height: 40px;
    font-size: 1em;
    border: 1px solid #004380;
    text-align: center;
    padding-left: 10px;
  }

  input:focus {
    outline: none;
  }

  .small-img-row {
    display: flex;
    justify-content: space-between;
  }

  .small-img-col {
    flex-basis: 25%;

    cursor: pointer;
  }
  .small-img-col img {
    padding: 0;
    margin: 0;
  }
  .col-2 p {
    margin: 0;
    text-align: left;
    color: #004380;
  }
  .cart-info p {
    font-size: 0.8em;
  }
  .total-price table {
    border-top: 1px solid #004380;
    width: 100%;
    max-width: 835px;
    font-size: 2em;
    color: #004380;
    font-weight: 100;
    background: #ccc;
    border-bottom: 1px solid #004380;
  }

  td:last-child {
    text-align: right;
    font-weight: 700;
  }

  th:last-child {
    text-align: right;
  }
  .form-container {
    padding: 0 35px;
  }
  #menuItems {
    z-index: 999;
  }

  .btn-cart {
    margin: 0 90px;
    font-size: 1.4em;
  }
  .account-page {
    background: url(../img/down2.webp) top;
    padding: 220px 0 0 0;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .row-2 h2 {
    position: inherit;
    font-size: 1em;
    text-align: center;
  }
}

/* Back Up Button */

#myBtn {
  width: 80px;
  height: 80px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 1.5em;
  border: none;
  outline: none;
  background-color: #004380;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#myBtn:hover {
  background-color: #004380;
  color: #a6b3c0;
}
